<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashtreme Admin - Free Dashboard for Bootstrap 4 by Codervent</title>
    <!-- loader-->
    <link href="assets/css/pace.min.css" rel="stylesheet" />
    <script src="assets/js/pace.min.js"></script>
    <!--favicon-->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- simplebar CSS-->
    <link href="assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="assets/css/app-style.css" rel="stylesheet" />

</head>

<body class="bg-theme bg-theme1">

    <!-- start loader -->
    <div id="pageloader-overlay" class="visible incoming">
        <div class="loader-wrapper-outer">
            <div class="loader-wrapper-inner">
                <div class="loader"></div>
            </div>
        </div>
    </div>
    <!-- end loader -->

    <!-- Start wrapper-->
    <div id="wrapper">

        <!--Start sidebar-wrapper-->

        <!--End sidebar-wrapper-->

        <!--Start topbar header-->
        {{>adminheader}}
        <!--End topbar header-->


        <div class="clearfix"></div>

        <div class="content-wrapper">
            <div class="container-fluid">


                <div class="container-fluid">

                    <div class="row">

                        <div class="col-lg-12 col-xlg-9 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <form class="form-horizontal form-material" method="post" action="adproduct"
                                        enctype="multipart/form-data">
                                        <div class="form-group mb-4">
                                            <label class="col-md-12 p-0">Category Name</label>
                                            <div class="col-md-12 border-bottom p-0">
                                                <select class="form-control p-0 border-0" name="cid">
                                                    {{#each cdata}}
                                                    <option value="{{this._id}}">{{this.catname}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <label class="col-md-12 p-0">Product name</label>
                                            <div class="col-md-12 border-bottom p-0">
                                                <input type="text" class="form-control p-0 border-0" name="pname">
                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <label class="col-md-12 p-0">Price</label>
                                            <div class="col-md-12 border-bottom p-0">
                                                <input type="text" class="form-control p-0 border-0" name="price">
                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <label class="col-md-12 p-0">QTY</label>
                                            <div class="col-md-12 border-bottom p-0">
                                                <input type="text" class="form-control p-0 border-0" name="qty">
                                            </div>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label class="col-md-12 p-0">Image</label>
                                            <div class="col-md-12 border-bottom p-0">
                                                <input type="file" class="form-control p-0 border-0" name="file">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <button class="btn btn-success">Add Product</button>
                                        </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>

                {{!-- <div class="row"> --}}

                    <div class="col-lg-14">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" align="center">catagory</h5>
                                <div class="table-responsive">
                                    <div class="table text-nowrap"></div>
                                    <table class="table">
                                        <thead>
                                            <tr>

                                                <th scope="col">Product name</th>
                                                <th scope="col">Qty</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Image</th>
                                                <th scope="col">Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each pdata}}
                                            <tr>

                                                <td>{{this.pname}}</td>
                                                <td>{{this.qty}}</td>
                                                <td>{{this.price}}</td>
                                                <td><img src="productimg/{{this.imgname}}" alt="" height="50px"
                                                        width="50px"></td>
                                                <td><a href="deletepro?did={{this.id}}"
                                                        class="btn btn-danger">Delete</a></td>
                                                <td><a href="editpro?uid={{this._id}}" class="btn btn-primary">Edit</a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--start overlay-->
                    <div class="overlay toggle-menu"></div>
                    <!--end overlay-->

                </div>
                <!-- End container-fluid-->

            </div><!--End content-wrapper-->
            <!--Start Back To Top Button-->
            <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
            <!--End Back To Top Button-->

            <!--Start footer-->
            <footer class="footer">
                <div class="container">
                    <div class="text-center">
                        Copyright © 2018 Dashtreme Admin
                    </div>
                </div>
            </footer>
            <!--End footer-->

            <!--start color switcher-->
            <div class="right-sidebar">
                <div class="switcher-icon">
                    <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
                </div>
                <div class="right-sidebar-content">

                    <p class="mb-0">Gaussion Texture</p>
                    <hr>

                    <ul class="switcher">
                        <li id="theme1"></li>
                        <li id="theme2"></li>
                        <li id="theme3"></li>
                        <li id="theme4"></li>
                        <li id="theme5"></li>
                        <li id="theme6"></li>
                    </ul>

                    <p class="mb-0">Gradient Background</p>
                    <hr>

                    <ul class="switcher">
                        <li id="theme7"></li>
                        <li id="theme8"></li>
                        <li id="theme9"></li>
                        <li id="theme10"></li>
                        <li id="theme11"></li>
                        <li id="theme12"></li>
                        <li id="theme13"></li>
                        <li id="theme14"></li>
                        <li id="theme15"></li>
                    </ul>

                </div>
            </div>
            <!--end color switcher-->

        </div><!--End wrapper-->


        <!-- Bootstrap core JavaScript-->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>

        <!-- simplebar js -->
        <script src="assets/plugins/simplebar/js/simplebar.js"></script>
        <!-- sidebar-menu js -->
        <script src="assets/js/sidebar-menu.js"></script>

        <!-- Custom scripts -->
        <script src="assets/js/app-script.js"></script>

</body>

</html>